/* ------------ MEDIA RESPONSIVENESS ------------- */
/* TABLETS RESPONSIVENESS */
@media screen and (max-width:769px) {
    nav {
        margin: 0 auto;
        gap: 40vw;
    }

.hero-info {
    padding-top: 20vh;
    padding-bottom: 0;
    margin-bottom: 15%;
    border-radius: 0% 0% 350% 350%/0% 0% 30% 30%;
}
.hero-info ul {
    flex-direction: column;
    min-height: fit-content;
    max-height: none;
}
ul {
    padding: 10% 10%;
    gap:40px;
}
li{
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    /* grid-template-rows: 1fr 1fr; */
    /* grid-template-rows: 3fr 3fr; */
}
li .hero-info-num {
    grid-row: 1 / span 2;
    text-align: center;
}
li .heading-small {
    grid-column: 2;
    text-align: left;
}
li p {
    grid-column: 2;
    text-align: left;
}
li .hero-info-num{
    margin-bottom: 23px;
}
li .heading-small{
    margin-bottom: 16px;
}

.hero-ads {
    margin: 10vh auto;
    padding: 0 0 0 4vw;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.hero-ads img {
    width: 40%;
   }
.founder-info {
    padding: 38px;
    background-image: none;
    /* width: 900px; */
   }

.founder-info .heading-medium {
    font-size: 28px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 28px;
    /* min-width: 600px; */
    
}

}
/*  MOBILE RESPONSIVENeSS */

@media screen and (max-width:426px) {
    nav {
        margin: 0 auto;
        gap: 10vw;
        padding: 5vh 0;
    }
    main {
        max-height: 50vh;
    }
    main:before {
        max-height: 50vh;
        background-image: none;
        border-radius: 0% 0% 200% 200%/0% 0% 40% 40%;
    }

    header  {
        max-width: max-content;
        max-height: max-content;
        padding: 0 20px;
    }
    header .heading-large {
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
    }
    .section-phone {
        top: -10vh;
    }

    .hero-info {
        padding-top: 15vh;
        padding-bottom: 0;
        margin-bottom: 15%;
        border-radius: 0% 0% 350% 350%/0% 0% 30% 30%;
    }
    .hero-info ul {
        flex-direction: column;
        min-height: fit-content;
        max-height: none;
    }
    ul {
        padding: 10% 10%;
        gap:40px;
    }
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 10vh auto;
    }
    li p {
        text-align: center;
    }
    li .heading-small {
        text-align: center;
    }
    li .hero-info-num{
        margin-bottom: 23px;
    }
    li .heading-small{
        margin-bottom: 16px;
    }
    .hero-ads img {
        width: 80%;
       }
    .hero-ads {
        flex-direction: column;
        max-width: fit-content;
        justify-content: center;
        align-items: center;
        padding: 0 3vw;
    }

    .founder-info {
        top: -6vh;
        left: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10% 10%;
        /* max-width: 200px; */
        background-image: none
    }
    .founder-info .heading-medium {
        font-size: 28px;
        font-weight: 600;
        line-height: 40px;
    }
    footer {
        margin-top: 0;
    }
}